diff --git a/hw/Kconfig b/hw/Kconfig
index c92ca2b..d6bc153 100644
--- a/hw/Kconfig
+++ b/hw/Kconfig
@@ -53,6 +53,7 @@ source arm/Kconfig
 source cpu/Kconfig
 source alpha/Kconfig
 source avr/Kconfig
+source dadao/Kconfig
 source hexagon/Kconfig
 source hppa/Kconfig
 source i386/Kconfig
